*{
    margin: 0;
    border: 0; 
    padding: 0;
}

body {
    background-color: rgba(223, 223, 223, 0.164);
    font-family: Roboto, sans-serif;
}

html , body {
    height: 100vh;
    position: relative; 
    overflow-x: hidden;
}

#page-receitas .content {
  min-height:100vh ;
  position: relative;
  padding-bottom: 62px;
  overflow: hidden;

}

#page-receitas header img {
    position: relative;
    top: 37px;
    left: 231px;
}

#page-receitas header a {
   position: relative;
   left: 400px;
   top: 33px;
   padding-left: 30px;
   text-decoration: none;
   color: #111111;
   font-size: 16px;
}

#page-receitas header a:hover {
    color: #FBDFDB;
    transition: 400ms;
}


/*=========GRID================*/

.title-grid h2 {
    position: relative;
    top: 90px;
    margin: 0 231px;
    font-family: Roboto, sans-serif;
    max-width: 200px;
    height: 28px;
    font-size: 24px;
}

.cards {
display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 position: relative;
 gap: 20px;
 top: 75px;
 padding: 20px;
 margin: 0 219px;

}

.card img {
width: 300px;
max-height: 140px;
border-radius: 15px;

}

/*=========FOOTER=============*/
.footer {
    max-width: 100%;
    width: 1400px;
    height: 62px;
    background-color: #EEEEEE;
    position: relative;
    top: 62px;
    margin-top: 50px;
}

.footer p {
    font-size: 14px;
    text-align: center;
    padding: 23px;
    color:  #999999;
}

/*=======MODAL===========*/
.modal-overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 660px;
    height: 413px;
    margin: 20vh auto;
    border-radius: 16px;
  
}

.modal .close-modal {
    width: 98px;
    font-family: Roboto, sans-serif;
    color:  #999999;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    top: 364px;
    left: 281px;
 }


 /*===== MODAL ACTIVE ====*/

 .modal-overlay.active {
     opacity: 1;
     visibility: visible;
}

.modal-content img { 
    width: 600px;
    max-height: 100%;
    height: 200px;
    margin: 0 30px;
    border-radius: 15px;

}

.modal-content h3 {
padding-top: 20px;
font-family: Roboto, sans-serif;
font-size: 24px;
color: #111111;
text-align: center;
}

.modal-content p {
font-family: Roboto, sans-serif;
font-size: 18px;
color: #777777;
text-align: center;
}